name: Deploy Project
on: [push, workflow_dispatch]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.13.0'
      - name: Install dependencies
        run: npm install    
      - name: Run tests
        run: npm test
  deploy:
    needs: test
    runs-on: ubuntu-latest  
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.13.0'
      - name: Install dependencies
        run: npm install 
      - name : Build Project
        run: npm run build
      - name: Deploy
        run: echo "Deploying project..."       